@keyframes ldio-pv1prceky7b {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.loadingio-spinner-spinner-d1hajyc39nt {
    text-align: center;
}

.ldio-pv1prceky7b div {
    left            : 104.16px;
    top             : 46.655px;
    position        : absolute;
    animation       : ldio-pv1prceky7b linear 1.282051282051282s infinite;
    background      : #85a2b6;
    width           : 8.68px;
    height          : 32.55px;
    border-radius   : 4.34px / 16.275px;
    transform-origin: 4.34px 61.845px;
}

.ldio-pv1prceky7b div:nth-child(1) {
    transform      : rotate(0deg);
    animation-delay: -1.214574898785425s;
    background     : #85a2b6;
}

.ldio-pv1prceky7b div:nth-child(2) {
    transform      : rotate(18.94736842105263deg);
    animation-delay: -1.147098515519568s;
    background     : #bbcedd;
}

.ldio-pv1prceky7b div:nth-child(3) {
    transform      : rotate(37.89473684210526deg);
    animation-delay: -1.0796221322537112s;
    background     : #dce4eb;
}

.ldio-pv1prceky7b div:nth-child(4) {
    transform      : rotate(56.8421052631579deg);
    animation-delay: -1.0121457489878543s;
    background     : #fdfdfd;
}

.ldio-pv1prceky7b div:nth-child(5) {
    transform      : rotate(75.78947368421052deg);
    animation-delay: -0.9446693657219973s;
    background     : #d69293;
}

.ldio-pv1prceky7b div:nth-child(6) {
    transform      : rotate(94.73684210526316deg);
    animation-delay: -0.8771929824561403s;
    background     : #be5960;
}

.ldio-pv1prceky7b div:nth-child(7) {
    transform      : rotate(113.6842105263158deg);
    animation-delay: -0.8097165991902834s;
    background     : #a00d1e;
}

.ldio-pv1prceky7b div:nth-child(8) {
    transform      : rotate(132.6315789473684deg);
    animation-delay: -0.7422402159244265s;
    background     : #85a2b6;
}

.ldio-pv1prceky7b div:nth-child(9) {
    transform      : rotate(151.57894736842104deg);
    animation-delay: -0.6747638326585695s;
    background     : #bbcedd;
}

.ldio-pv1prceky7b div:nth-child(10) {
    transform      : rotate(170.52631578947367deg);
    animation-delay: -0.6072874493927125s;
    background     : #dce4eb;
}

.ldio-pv1prceky7b div:nth-child(11) {
    transform      : rotate(189.47368421052633deg);
    animation-delay: -0.5398110661268556s;
    background     : #fdfdfd;
}

.ldio-pv1prceky7b div:nth-child(12) {
    transform      : rotate(208.42105263157896deg);
    animation-delay: -0.47233468286099867s;
    background     : #d69293;
}

.ldio-pv1prceky7b div:nth-child(13) {
    transform      : rotate(227.3684210526316deg);
    animation-delay: -0.4048582995951417s;
    background     : #be5960;
}

.ldio-pv1prceky7b div:nth-child(14) {
    transform      : rotate(246.31578947368422deg);
    animation-delay: -0.33738191632928477s;
    background     : #a00d1e;
}

.ldio-pv1prceky7b div:nth-child(15) {
    transform      : rotate(265.2631578947368deg);
    animation-delay: -0.2699055330634278s;
    background     : #85a2b6;
}

.ldio-pv1prceky7b div:nth-child(16) {
    transform      : rotate(284.2105263157895deg);
    animation-delay: -0.20242914979757085s;
    background     : #bbcedd;
}

.ldio-pv1prceky7b div:nth-child(17) {
    transform      : rotate(303.1578947368421deg);
    animation-delay: -0.1349527665317139s;
    background     : #dce4eb;
}

.ldio-pv1prceky7b div:nth-child(18) {
    transform      : rotate(322.10526315789474deg);
    animation-delay: -0.06747638326585695s;
    background     : #fdfdfd;
}

.ldio-pv1prceky7b div:nth-child(19) {
    transform      : rotate(341.05263157894734deg);
    animation-delay: 0s;
    background     : #d69293;
}

.loadingio-spinner-spinner-d1hajyc39nt {
    width     : 217px;
    height    : 217px;
    display   : inline-block;
    overflow  : hidden;
    background: none;
}

.ldio-pv1prceky7b {
    width              : 100%;
    height             : 100%;
    position           : relative;
    transform          : translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin   : 0 0;
    text-align         : center;
    /* see note above */
}

.ldio-pv1prceky7b div {
    text-align: center;
    box-sizing: content-box;
}

/* generated by https://loading.io/ */